Repository AuroraPolaire/online-store-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, npm run format, npm run lint --max-warnings=0, git add .

.lintstagedrc.json:

{
  "*.html": ["eslint", "prettier --write"],
  "*.scss": "prettier --write",
  "*.{js,jsx}": ["npm run format", "npm run lint --max-warnings=0", "git add ."]
}

test
  src/App.js
Due: npm run format, npm run lint --max-warnings=0, git add .

test
  .eslintignore
  .husky/pre-commit
  package.json
  src/App.js
Due: npm run format, npm run lint --max-warnings=0, git add .

test
  .husky/pre-commit
  public/index.html
Due: eslint, prettier --write

test
  .lintstagedrc.json
  package.json
  public/index.html
  src/App.js
  src/index.css
Due: eslint, prettier --write, npm run format, npm run lint --max-warnings=0, git add .

feat: added readme, deleted unnecessary files
  README.md
  public/index.html
  src/App.js
  src/logo.svg
Due: eslint, prettier --write, npm run format, npm run lint --max-warnings=0, git add .

Deploying to gh-pages from @ AuroraPolaire/online-store-project@976ce49bbce529feac68d625ff20522bccf78d86 🚀
  asset-manifest.json
  index.html
  static/css/main.073c9b0a.css
  static/css/main.073c9b0a.css.map
  static/css/main.61311b37.css
  static/css/main.61311b37.css.map
  static/js/main.2889c9b9.js
  static/js/main.2889c9b9.js.map
  static/js/main.6fd3c1a9.js
  static/js/main.6fd3c1a9.js.LICENSE.txt
  static/js/main.6fd3c1a9.js.map
  static/media/logo.6ce24c58023cc2f8fd88fe9d219db6c6.svg
Due: eslint, prettier --write, npm run format, npm run lint --max-warnings=0, git add .

feat: dependency updates
  README.md
  package-lock.json
  package.json
Due: none
